@import "~bootstrap/scss/bootstrap";

.bg-body-dark {
    background-color: #111;
}

.btn-icon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
}
